@media screen and (min-width: 800px) {
  div#content {
    padding: 2% 2%;
    max-width: 600px;

    /* centering */
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 799px) {
  div#content {
    padding: 0 2%;
  }
}

h1.title { }

h1, .h1 {
  font-size: 8em;
}

h2, .h2 {
  font-size: 2em;
  font-weight: 700;
  margin-top: 3em;
}

h3, .h3 {
  font-size: 1.0em;
  font-weight: 700;
  padding-bottom: 0.2em;
}

h4, .h4,
h5, .h5 {
  font-size: 1.0em;
  font-weight: 700;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: var(--bs-dark);
}

p {
  padding-left: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* 外部リンク */
a[href^="http"] {
  color: var(--bs-primary) !important;
}

/* orgリンクはすべて相対ファイル指定 */
a[href*='html']:not(a[href^="http"]) {
  color: var(--bs-success) !important;
}

#content a[href^="http"],
#content p a,
#content ul a,
#content dl a {
  color: var(--bs-dark);
  font-weight: 700;
  text-decoration: none;
}

.anchor {
  color: var(--bs-dark);
  text-decoration: none;
}

.anchor:hover {
  text-decoration: none;
}

kbd {
  font-weight: 200;
  color: var(--bs-dark);
  background-color: var(--bs-light);
  border: 1px solid;
}

pre {
  background-color: var(--bs-light);
  padding: 1em;
  border-radius: 4px;
}

code {
  background-color: var(--bs-light);
  border-radius: 4px;
}

pre code {
  font-weight: 200;
  font-size: 1.0rem;
}

label.org-src-name {
  font-size: 0.8em;
}

.results {
  background-color: var(--bs-light);
  font-family:monospace;
  white-space: pre;
}

div.results, pre.example {
  border-radius: 4px;
  padding: 0.4em;
  margin-bottom: 2rem;
  font-size: 0.8em;
}

table {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--bs-secondary);
  font-size: 0.8em;
  padding: 0.4em;
  border-collapse: unset;
}

tbody {
  /* border-top: solid; */
}

tbody::before {
  content: '';
  display: block;
  height: 1em;
}

blockquote {
  font-style: oblique;
  background-color: var(--bs-light);
  border-radius: 4px;
}

.todo {
  background-color: var(--bs-danger);
  border-radius: 4px;
  padding: 2px;
  color: white;
}

.done {
  background-color: var(--bs-success);
  border-radius: 4px;
  padding: 2px;
  color: white;
}

.DontKnow{
  border: 1px solid;
  border-radius: 4px;
  padding: 2px;
}

footer.footer {
  margin-top: 8em;
}

.outline-3 {
  padding-bottom: 4em;
}

/* Graph ================ */

#main-graph {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}


/* Table of contents ================ */

#table-of-contents {
  color: var(--bs-secondary);
  font-size: 0.8em;
  padding-top: 1em;
}

#table-of-contents ul{
}

#table-of-contents a{
  font-weight: normal !important;
}

#table-of-contents h2{
  display: none;
}
