# このgitignoreはデプロイブランチ(gh-pages)に含まれない
# そのため生成物をignoreしてしまうことなく、デプロイブランチにコミットできる

/.log
/.org-cache
/.packages
/node_modules
/node_graph/__pycache__
/pdfs/*.odp#

public/*.xml
public/**/*.html
public/js/graph.json
public/js/pmd.csv
public/images/*
public/buseum/*
public/pdfs/*

LICENSE
cache.json
git-file.png
git-file/git-file.dat
git-line.dat
git-line.png
org-roam.db
sitemap.org

work.org

!/.keep
