@media screen and (min-width: 800px) {
  div#content {
    padding: 2% 2%;
    max-width: 800px;

    /* centering */
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 799px) {
  div#content {
    padding: 0 2%;
  }
}

* {
  font-family: "IBM Plex Sans JP", sans-serif;
}

h1, .h1 {
  font-size: 1.6em;
  font-weight: 700;
}

h2, .h2 {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 3em;
  margin-bottom: 1em;
}

h3, .h3,
h4, .h4,
h5, .h5 {
  font-size: 1.0em;
  font-weight: 700;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: var(--bs-dark);
}

a {
  text-decoration: none;
}

p {}

li {}

a:hover {
  text-decoration: none;
}

input {
  accent-color: var(--bs-dark);
}

#content a[href^="http"],
#content p a,
#content ul a,
#content dl a {
  color: var(--bs-primary);
  font-weight: 500;
}

kbd {
  font-weight: 200;
  color: var(--bs-dark);
  background-color: var(--bs-light);
  border: 1px solid;
}

label.org-src-name {
  font-size: 0.8em;
  padding: 2px;
}

/* 参考: https://github.com/fniessen/org-html-themes/blob/master/src/bigblow_theme/css/bigblow.css */
table {
  width: 100%;
  margin: 1em 0em;
  font-size: 0.8em;
  border-collapse: collapse;
}

th {
  border-width: 1px 2px;
  border-color: var(--bs-white);
  background-color: var(--bs-secondary);
  color: var(--bs-white);
}

td {
  padding: 0.8em;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  color: var(--bs-dark);
  border-bottom: solid 1px var(--bs-dark);
}

blockquote {
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--bs-light);
  border-left: 2px solid var(--bs-secondary);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

figcaption {
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: right;
}

/* Class ================ */

.todo {
  border-radius: 4px;
  padding: 2px;
}

.todo.TODO {
  background-color: var(--bs-danger);
  color: white;
}

.todo.WIP {
  background-color: var(--bs-primary);
  color: white;
}

.done {
  border-radius: 4px;
  padding: 2px;
}

.done.DONE {
  background-color: var(--bs-success);
  color: white;
}

.done.CLOSE {
  background-color: var(--bs-dark);
  color: white;
}

.DontKnow{
  border: 1px solid;
  border-radius: 4px;
  padding: 2px;
}

footer.footer {
  margin-top: 8em;
}

.outline-3 {
  padding-bottom: 4em;
}

/* Graph ================ */

#main-graph {
  margin: 0 calc(50% - 50vw);
  width: 98vw;
}
