@media screen and (min-width: 800px) {
  div#content {
    padding: 0 30%;
  }
}

@media screen and (max-width: 799px) {
  div#content {
    padding: 0 2%;
  }
}

h1, .h1 {
  font-size: 3.0em;
  font-weight: 700;
}

h2, .h2 {
  font-size: 1.4em;
  font-weight: 700;
}

h3, .h3 {
  font-size: 1.0em;
  font-weight: 700;
}

a {
    color: #333631;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#content p a,
#content ul a,
#content dl a {
  text-decoration: underline;
}

.anchor {
  color: #212529;
}

.anchor:hover {
  text-decoration: none;
}

li {
  /* list-style-type: none; */
}

kbd {
  font-weight: 200;
  color: black;
  background-color: white;
  border: 1px solid;
}

pre {
  /* background-color: #212529; */
  border: 1px solid gray;
  padding: 1em;

border-radius: 4px;
}

pre code {
  font-weight: 200;
  font-size: 1.0rem;
}

.outline-2 {
  margin: 2em 0 0 0;
}

.outline-3 {
  margin: 1em 0 0 1em;
}
