name: Check

on:
  push:

jobs:
  textlint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: linting org files
      run: make textlint

  dupcheck:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: check kdoc duplicates
      run: ./scripts/check_kdoc_duplicates.sh
